{% extends 'mypage.html' %}

{% block main %}
<a href="{% url 'list' %}" class="btn btn-secondary" role="button" aria-pressed="true">マイページへ</a>
{% if user.is_authenticated %}
<form method="POST" enctype='multipart/form-data'> {% csrf_token %}

    <div class="row">
        <div class="col-sm">
            <h2>変換前</h2>
            <form method="post">
                {% csrf_token %}
                {% for field in form %}
                <p>
                    <label>{{ field.label }}</label>
                    {{ field }}
                </p>
                {% endfor %}
                <input type="submit" name="btn_replace" value="変換" class="btn btn-info" />
                <input type="submit" name="btn_create" value="作成" class="btn btn-info" />
            </form>
        </div>
        <div class="col-sm">
            <h2>変換後</h2>
            <p>{{ new_content }}</p>
        </div>
    </div>

</form>
{% else %}
please login
<a href="{% url 'login' %}">Loginしてにょ</a>
{% endif %}
{% endblock main %}