{% extends 'mypage.html' %}

{% block main %}
<a href="{% url 'list' %}" class="btn btn-secondary" role="button" aria-pressed="true">マイページへ</a>
{% if user.is_authenticated %}

<form method="POST" enctype='multipart/form-data'> 
    {% csrf_token %}
<div class="row">
    <div class="col-sm">
        <h2>変換前</h2>
        <form method="post">
            {% csrf_token %}
            <p>タイトル:{{form.title}}</p>
            <p>隠したい単語:{{form.blur_word}}</p>
            <p>説明文:{{form.content}}</p>
            <p>カテゴリ:{{form.category}}</p>
            <input type="submit" name="btn_preview" value="プレビュー">
            <input type="submit" name="btn_create" value="作成">
        </form>
    </div>
    <div class="col-sm">
        <h2>変換後</h2>
        <p>{{ new_text }}</p>
        
    </div>


</div>
</form>
{% else %}
please login
<a href="{% url 'login' %}">Loginしてにょ</a>
{% endif %}
{% endblock main %}