{% extends 'create.html' %}


{% block customcss1 %}
<style>
    #blur_word {
        filter:blur(5px);
    }
    input {
        display: none;
    }
    input:checked + #blur_word {
        filter:blur(0px);
    }
</style>

{% endblock customcss1 %}

{% block main %}
{% if user.is_authenticated %}
<div class="container">
    <div class="alert alert-success" role="alert">
        <p>タイトル:{{object.title}}</p>
        <p>隠したい単語:見たい人は、クリックしてね！</p>
        <input type="checkbox" id="clickblur">
        <label id="blur_word" for="clickblur">{{object.blur_word}}</label>
        <p>説明文:<P>{{object.new_content}}</p></p>
        
        {% comment %} <a href="{% url 'update' object.pk %}" class="btn btn-secondary" role="button" aria-pressed="true">編集</a>  {% endcomment %}
        {% comment %} <a href="{% url 'delete' object.pk %}" class="btn btn-secondary" role="button" aria-pressed="true">削除</a> {% endcomment %}
        <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#deleteModal-{{object.pk}}">削除</button>
        {% include 'delete.html' %}
    </div>
</div>
{% else %}
please login
{% endif %}
{{new_content}}
{% endblock main %}