{% extends 'create.html' %}


{% block customcss1 %}
<style>
    #blur_word {
        filter:blur(5px);
    }
    input {
        display: none;
    }
    input:checked + #blur_word {
        filter:blur(0px);
    }
</style>

{% endblock customcss1 %}

{% block main %}
{% if user.is_authenticated %}
<div class="container">
    <div class="alert alert-success" role="alert">
        <p>タイトル:{{object.title}}</p>
        <p>
            {{object.new_content | safe}}
        </p>
        <p>↓↓↓見たい人は、クリックしてね！↓↓↓</p>
        <input type="checkbox" id="clickblur">
        <label id="blur_word" for="clickblur">{{object.content}}</label>
    </div>
    <a href="{% url 'delete' object.pk %}" class="btn btn-secondary" role="button" aria-pressed="true">削除</a>
</div>
{% else %}
please login
{% endif %}
{{new_content}}
{% endblock main %}