{% extends 'create.html' %}

{% block category %}
 
{% for item in object_list%}
{% if forloop.first %}

{% if item.category == 1%}
Network
{% endif %}
{% if item.category == 2%}
Web
{% endif %}
{% if item.category == 3%}
Linux
{% endif %}
{% if item.category == 4%}
Git
{% endif %}

{% endif %}
{% endfor %}
{% endblock category %}

{% block main %}
    {% for item in object_list %}
        <div class="alert alert-success" role="alert">
        <p>タイトル:<a href="{% url 'detail' item.pk %}">{{item.title}}</a></p>
        <p>投稿者:{{item.user.username}}</p>
        <a href="#" class="btn btn-secondary disabled" role="button" aria-pressed="true">既読</a>
        <a href="#" class="btn btn-secondary disabled" role="button" aria-pressed="true">削除する</a>
        </div>
    {% endfor %}
{% endblock main %}