{% extends 'base.html' %}

{% block header %}
<div class="alert alert-primary" role="alert">
    <h3>Blearn</h3>
    <a href="{% url 'logout' %}">Logout</a>
    <a href="{% url 'create' %}">新規投稿</a>
</div>
{% endblock header %}

{% block content %}
<!-- {% if user.is_authenticated %} -->
<div class="container">
    {% for item in object_list %}
    <div class="alert alert-success" role="alert">
        <!-- <p>category:<a href="{%url 'detail' item.pk%}">{{item.title}}</a></p> -->
        <p>category:{{item.title}}</p>
        <p>content:{{item.content}}</p>
        <!-- {% comment %} <p>category:{{item.title}}</a></p> {% endcomment %} -->
        <a href="#" class="btn btn-secondary disabled" role="button" aria-pressed="true">既読</a>
        <a href="#" class="btn btn-secondary disabled" role="button" aria-pressed="true">削除する</a>
    </div>
    {% endfor %}
    <!-- <a href="{% url 'logout' %}">Logout</a>
    <a href="{% url 'create' %}">新規投稿</a> -->
</div>
<!-- {% else %}
please logins
{% endif %} -->
{% endblock content %}